name: narayan_farms
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  firebase_core: ^4.3.0
  flutter:
    sdk: flutter
  firebase_auth: ^4.2.0
  cloud_firestore: ^4.3.0
  flutter_bloc: ^8.1.3

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
